.resultHeader{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: lightgray;
    color: black;
    border-radius: 2px;
}
.predictionCardHeader{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}
.ionCardWarning{
    --background : #FFF3CD;
    --color : #C88F17;
}
