<ion-header [translucent]="true">
  <ion-toolbar
  color="light"
  >
    <ion-title>
      Comunicare
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card 
  color="medium"
  class='card'
  >
    <ion-card-header>
      <ion-card-title color="primary">Prédiction du risque d’hospitalisation des patients positifs COVID-19</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <covid-form></covid-form>
    </ion-card-content>
  </ion-card>
</ion-content>
